<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    学号：<input type="text" id="no"><br />
    姓名：<input type="text" id="name"><br />
    <button type="button" id="btn">查询成绩</button>
</form>
<p id="score"></p>

<script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script>
    $("#btn").click(function () {
        $.ajax({
            url:"servlet/HandlerServlet",   //请求地址
            type:"get",   //请求方法
            data:{"no":$("#no").val(),"name":$("#name").val()},   //要发送的数据,相当于表单提交的数据，json形式。
            dataType:"text",   //期待返回的数据类型，也可以理解为请求的数据类型
            error:function () {  //发生错误时的处理

            },
            success:function (data) {  //成功时的处理。参数表示返回的数据
                $("#score").text(data);
            }
        })
    });
</script>
</body>
</html>